<! -- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<span class="icon ion-ionic"></span>
	</a>
	<h3 class="title">
    <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
  </h3>
</header>

<div id="bio" class="text-center">
	Tips, tricks, and tutorials about Ionic.
</div>

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		{% if site.author.github %}
		<li>
			<a class="btn btn-default" href="https://github.com/{{ site.author.github }}">
				<i class="icon ion-social-github"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.twitter %}
		<li>
			<a class="btn btn-default" href="https://twitter.com/{{ site.author.twitter }}">
				<i class="icon ion-social-twitter"></i>
			</a>
		</li>
		{% endif %}
		<li>
			<a class="btn btn-default" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				<i class="icon ion-social-rss"></i>
			</a>
		</li>
	</ul>
</div>

<div>
	<h3 class="title">Get the book</h3>
	<p><a href="http://www.manning.com/wilken?a_aid=ionicinaction"><img src="{{ site.BASE_PATH }}/assets/media/wilken_cover150.jpg" width="80" class="img-left" /></a> Ionic in Action is available in early access version from Manning. <a href="http://www.manning.com/wilken?a_aid=ionicinaction">Get it today</a> and start learning now!</p>
</div>
<! -- sidebar.html end -->
