---
layout: blog
section_id: blog
---

<div class="post">
  <div class="timestamp left text-center">
    <span class="month">{{ page.date | date: "%h" }}</span>
    <span class="date">{{ page.date | date: "%d" }}</span>
  </div>
  <div class="info">
    <h3>{{ page.title }}</h3>
    <p>Posted in: {{page.categories}}, <a class="disqus-comment-count" data-disqus-url="{{site.url}}{{post.url}}" href="{{site.url}}{{post.url}}">Comments</a></p>
  </div>
  <div class="content">
    {{ content }}
  </div>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "ionicinaction";

    /* * * DON"T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement("script"); dsq.type = "text/javascript"; dsq.async = true;
        dsq.src = "//" + disqus_shortname + ".disqus.com/embed.js";
        (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
